# See https://github.com/binhex/arch-delugevpn for docs

VPN_ENABLED=
VPN_USER=
VPN_PASS=
VPN_PROV=
VPN_OPTIONS=
STRICT_PORT_FORWARD=
ENABLE_PRIVOXY=
LAN_NETWORK=
NAME_SERVERS=
DELUGE_DAEMON_LOG_LEVEL=
DELUGE_WEB_LOG_LEVEL=
DEBUG=
UMASK=
